html, body {
  background-color: #f8ef5b !important;
  color: #636b6f;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 0;
  font-size: 18px;
  color: #50595e;
  font-weight: 400;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #06131a;
  margin: 0px 0px 15px 0px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
  line-height: 38px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 20px;
  line-height: 1.7;
}

p:last-child {
  margin: 0;
}

ul,
ol {}

a {
  text-decoration: none;
  color: #50595e;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #ce0058;
}

sub {
  bottom: 0;
}


.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}